.navbar-section{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 2px 0;
}
.logo{
    width: 140px;
}
.navbar-link{
    color: gray;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    position: relative;
    padding: 15px 0;
}
.navbar-link::after{
    content: '';
    background-color: #FF2638;
    position: absolute;
    width: 0%;
    height: 4px;
    left: 0;
    bottom: -3.5px;
    transition: 0.3s;
}
.navbar-link:hover{
    color: #FF2638;
}
.navbar-link:hover::after{
    width: 100%;
}
.navbar-link:hover > .categories-dropdown{
    opacity: 1;
    visibility: visible;
}
.categories-dropdown{
    background-color: white;
    box-shadow: 0px 1px 10px -7px rgba(0,0,0,0.9);
    position: absolute;
    top: 107%;
    left: -250%;
    padding-left: 0px;
    width: 1200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    display: flex;
}
.categories-left-container{
    width: 17%;
    height: 100%;
    padding: 25px 25px 25px 10px;
    border-right: 1px solid gray;
}
.categories-dropdown li{
    list-style: none;
    margin-bottom: 15px;
    padding-left: 0;
}
.categories-right-container{
    width: 83%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.post-container{
    width: 280px;
    padding: 23px 10px 10px 10px;
}
.post-container:hover .category-post-tile::after{
    width: 100%;
}
.post-container img{
    width: 100%;
    height: 130px;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}
.category-name{
    font-size: 14px;
    color: #FF2638;
    margin: 13px 0 10px 0;
}
.category-post-tile{
    color: black;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    transform: 0.3s;
    text-decoration: underline;
}
.category-post-tile::after{
    content: '';
    background-color: black;
    position: absolute;
    width: 0%;
    height: 4px;
    left: 0;
    bottom: -3.5px;
    transition: 0.3s;
}

/* Navbar right style */
.navbar-right{
    display: flex;
    align-items: center;
}
.search-container{
    background-color: #F0F2F5;
    width: 215px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 999px;
}
.search-container input{
    background-color: transparent;
    border: none;
    outline-style: none;
    font-size: 14px;
    margin-left: 10px;
}
.cart-container{
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background-color: #F0F2F5;
    margin-left: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cart-container > div {
    width: 20px;
    height: 20px;
    background-color: #FF2638;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    right: 0%;
    top: -15%;
}